{% extends 'home/base.html' %}
{% block content %}

    <div class="col"></div>
    <div class="col">
        <div class="card">
            <div class="card-header">
                Apps
            </div>
            <a href="/webapps">
            <img class="img-fluid" src="/static/home/pic1.png" alt="Apps image">
            </a>
            <div class="card-footer text-center >
                <p class="card-text">Some ultra light, but useful, web & computer apps. </p>
                <a href="/webapps" class="btn btn-outline-primary" role="button" style="align-content: center">Apps</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-header">
                Tutorials
            </div>
            <a href="#">
            <img class="img-fluid" src="/static/home/tutorials.jpg" alt="Tutorials image">
            </a>
            <div class="card-footer text-center >
                <p class="card-text">Learn programming here, from basics to advanced </p>
                <a href="/tutorials" class="btn btn-outline-primary" role="button" style="align-content: center">Tutorials</a>
            </div>
        </div>
    </div>
    <div class="col"></div>

{% endblock %}